{% set sitename = config.get('ckan.site_title') %}
{% set intro = g.site_intro_text %}

<div class="module-promotion card box">
    <div>
      {% if sitename %}
        <h1 class="page-heading">{{ sitename }}</h1>
      {% else %}
        <h1 class="page-heading">{{ _("HUB de Información CMAR") }}</h1>
      {% endif %}
      {% if intro %}
        {{ h.render_markdown(intro) }}
      {% else %}
        <p>
          {% trans %}Bienvenido al Hub de información del Corredor Marino del Pacifico Este Tropical (CMAR). Este repositorio reúne documentos producidos por los órganos de gobernanza y socios estratégicos de esta iniciativa regional.
          {% endtrans %}
        </p>
      {% endif %}
    </div>
  </div>