{% ckan_extends %}

{% block footer_content %}
    <div class="row">
        <div class="col-md-3 attribution">
            <a class="logo" href="{{ h.url_for('home.index') }}">
                <img src="/cmar.svg" alt="{{ g.site_title }}"
                    aria-label="{{ _('Navigate to Home - {site_title}').format(site_title=g.site_title) }}"/>
            </a>
        </div>
        <div class="col-md-4 footer-contact">
          <p><a href="mailto:secretaria@cmarpacifico.org" target="_blank">secretaria@cmarpacifico.org</a></p>
          <p><a href="mailto:cmar@miambiente.gob.pa" target="_blank">cmar@miambiente.gob.pa</a></p>
        </div>
        <div class="col-md-2 footer-social">
            <a href="https://www.facebook.com/corredormarino.pacificoeste" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCjcAo8fGL53HwQq7twx7uTA" target="_blank">
              <i class="fab fa-youtube-square"></i>
            </a>
        </div>
        <div class="col-md-3 footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for('home.about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
              <li><a href="https://www.cmarpacifico.org/" target="_blank">{{ _('CMAR Pacífico') }}</a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
    </div>
{% endblock %}