{% ckan_extends %}

{% block primary_content %}
  <div role="main">
    <div class="main hero">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% block promoted %}
                {% snippet 'home/snippets/promoted.html' %}
                {% block search %}
                    {% snippet 'home/snippets/search.html', search_facets=search_facets %}
                {% endblock %}
            {% endblock %}
        </div>
        </div>
      </div>
    </div>

    <div class="main module-feeds">
        <!--<div class="featured-groups">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
        <div class="featured-datasets">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ _('Destacados') }}</h2>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="latest-datasets">
            <div class="container">
                <h2>{{ _('Últimos Documentos') }}</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for dataset in h.cmar_theme_latest_datasets() %}
                        {% snippet 'snippets/cmar_theme_display_package_card.html',
                                    dataset = dataset %}
                    {% endfor %}
                </div>
                <div class="text-center show-more">
                    <a href="{{ h.url_for('dataset.search') }}" class="btn btn-primary">{{ _('Show more') }}</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}