{% ckan_extends %}

{% block primary_content %}
  <div role="main">
    <div class="main hero">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% block promoted %}
                {% snippet 'home/snippets/promoted.html' %}
                {% block search %}
                    {% snippet 'home/snippets/search.html', search_facets=search_facets %}
                {% endblock %}
            {% endblock %}
        </div>
        </div>
      </div>
    </div>

    <div class="main module-feeds">
        <div class="featured-groups">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {# Note: this featured_group block is used as an example in the theming
                        tutorial in the docs! If you change this code, be sure to check
                        whether you need to update the docs. #}
                        {# Start template block example. #}
                        {% block featured_group %}
                        {% snippet 'home/snippets/featured_group.html' %}
                        {% endblock %}
                        {# End template block example. #}
                    </div>
                </div>
            </div>
        </div>
        <div class="featured-datasets">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ _('Destacados') }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="latest-datasets">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <h2>{{ _('Últimos Documentos') }}</h2>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}