/*  cmar_theme.css
    Custom CSS for CMAR CKAN theme.
*/

/* ----- Fonts ----- */
@font-face {
    font-family: 'Muli';
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url('/fonts/Muli-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Muli';
    font-weight: 700; /* Bold */
    font-style: normal;
    src: url('/fonts/Muli-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Muli';
    font-weight: 900; /* Black */
    font-style: normal;
    src: url('/fonts/Muli-Black.ttf') format('truetype');
  }


/* ----- Color Palette ----- */
:root {
    --cmar-primary-palette-dark-blue: #2b4277;
    --cmar-primary-palette-light-blue: #379ed7;
    --cmar-primary-palette-main-blue: #3276bc;
    --cmar-primary-palette-dark-green: #358f3c;
    --cmar-primary-palette-light-green: #83b640;
    --cmar-primary-palette-black: #121212;
    --cmar-secundary-palette-orange: #FC9D2B;
    --cmar-secundary-palette-yellow: #fbd118;
    --cmar-secundary-palette-teal: #00a79d;
    --cmar-secundary-palette-grey: #9b8579;
}


/* ----- Global ----- */
html {
    font-size: 16px;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--cmar-primary-palette-black);
    background-color: var(--bs-white);
}

.search-form {
    border-bottom: none;
}

/* ----- Header ----- */
.masthead,
.account-masthead {
    background-image: none;
    background-color: var(--bs-white);
    color: var(--cmar-primary-palette-black);
}
.masthead .main-navbar ul li a {
    color: var(--cmar-primary-palette-black);
}
.masthead .navbar .logo img {
    height: 120px;
}
.account-masthead .account ul li a {
    color: var(--cmar-primary-palette-dark-blue);
}

/* ----- Footer ----- */
.site-footer {
    background-image: none;
    background-color: var(--bs-white);
    color: var(--cmar-primary-palette-black);
}
.site-footer a {
    color: var(--cmar-primary-palette-black);
}


/* ----- Homepage ----- */
.homepage .hero {
    background-image: none;
    background-color: var(--cmar-primary-palette-light-blue);
}
.homepage .module-promotion {
    background-color: var(--cmar-primary-palette-light-blue);
    box-shadow: none;
    border: none;
    text-align: center;
}
h1.page-heading {
    font-weight: 900;
    font-size: 4em;
}
.module-promotion p {
    color: var(--bs-white);
    font-size: 2em;
}
.homepage .search-form .search-input input.form-control {
    border-radius: 1.1em;
}