/*  cmar_theme.css
    Custom CSS for CMAR CKAN theme.
*/

/* ----- Fonts ----- */
@font-face {
    font-family: 'Muli';
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url('/fonts/Muli-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Muli';
    font-weight: 700; /* Bold */
    font-style: normal;
    src: url('/fonts/Muli-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Muli';
    font-weight: 900; /* Black */
    font-style: normal;
    src: url('/fonts/Muli-Black.ttf') format('truetype');
  }


/* ----- Color Palette ----- */
:root {
    --cmar-primary-palette-dark-blue: #2b4277;
    --cmar-primary-palette-light-blue: #379ed7;
    --cmar-primary-palette-main-blue: #3276bc;
    --cmar-primary-palette-dark-green: #358f3c;
    --cmar-primary-palette-light-green: #83b640;
    --cmar-primary-palette-black: #121212;
    --cmar-secundary-palette-orange: #FC9D2B;
    --cmar-secundary-palette-yellow: #fbd118;
    --cmar-secundary-palette-teal: #00a79d;
    --cmar-secundary-palette-grey: #9b8579;
    --cmar-secundary-palette-grey-trans: #9b857925;
}


/* ----- Global ----- */
html {
    font-size: 16px;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--cmar-primary-palette-black);
    background-color: var(--bs-white);
}

.search-form {
    border-bottom: none;
}

/* ----- Header ----- */
.masthead,
.account-masthead {
    background-image: none;
    background-color: var(--bs-white);
    color: var(--cmar-primary-palette-black);
}
.account-masthead .account ul li {
    border: none;
}
.account-masthead .account ul li a {
    color: var(--cmar-primary-palette-dark-blue);
}
.masthead .main-navbar ul li a {
    color: var(--cmar-primary-palette-black);
}
.masthead .main-navbar ul li:hover a, .masthead .main-navbar ul li:focus a, .masthead .main-navbar ul li.active a {
    border-radius: 0.3rem;
    background-color: var(--cmar-primary-palette-light-blue);
}
.masthead .navbar .logo img {
    height: 120px;
}


/* ----- Footer ----- */
.site-footer {
    background-image: none;
    background-color: var(--bs-white);
    color: var(--cmar-primary-palette-black);
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 1rem solid var(--cmar-primary-palette-light-blue);
}
.site-footer .row {
    align-items: center;
}
.site-footer a {
    color: var(--cmar-primary-palette-black);
}
.site-footer .logo img {
    height: 120px;
}
.site-footer .footer-contact {
    padding-left: 7rem;
}
.site-footer .footer-contact p {
    margin-bottom: 0;
}

/* ----- Homepage ----- */
.homepage .hero {
    background-image: none;
    background-color: var(--cmar-primary-palette-light-blue);
}
.homepage .module-promotion {
    background-color: var(--cmar-primary-palette-light-blue);
    box-shadow: none;
    border: none;
    text-align: center;
}
h1.page-heading {
    font-weight: 900;
    font-size: 4rem;
}
.module-promotion p {
    color: var(--bs-white);
    font-size: 2rem;
}
.homepage .search-form .search-input input.form-control {
    border-radius: 1.1rem;
}
.homepage .module-feeds {
    background-image: none;
    background-color: var(--bs-white);
    padding-top: 0;
}
.homepage .module-feeds .featured-groups {
    background-color: var(--cmar-secundary-palette-grey-trans);
}
.homepage .module-feeds .featured-groups .container {
    height: 200px;
}
.homepage .module-feeds h2{
    text-align: center;
    font-size: 2rem;
}
.homepage .module-feeds .container {
    margin-bottom: 3rem;
}


/* ----- Pages ----- */
.main {
    background-image: none;
    background-color: var(--bs-white);
}
.main .toolbar {
    background-color: var(--cmar-primary-palette-light-blue);
    padding: 10px 5px 10px 25px;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
}
.main .toolbar .breadcrumb a {
    color: var(--bs-white);
}
.main .row.wrapper {
    border: none;
    box-shadow: none;
    margin-top: 0;
}
.main .secondary {
    padding-top: 20px;
}
.main .secondary .module-heading {
    background-color: var(--bs-white);
    border: none;
    font-size: 1.2rem;
}
.main .secondary .module-content {
    padding-top: 0;
    padding-bottom: 1.5rem;
}