/*  cmar_theme.css
    Custom CSS for CMAR CKAN theme.
*/

/* ----- Fonts ----- */
@font-face {
    font-family: 'Muli';
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url('/fonts/Muli-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Muli';
    font-weight: 700; /* Bold */
    font-style: normal;
    src: url('/fonts/Muli-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Muli';
    font-weight: 900; /* Black */
    font-style: normal;
    src: url('/fonts/Muli-Black.ttf') format('truetype');
  }


/* ----- Color Palette ----- */
:root {
    --cmar-primary-palette-dark-blue: #2b4277;
    --cmar-primary-palette-light-blue: #379ed7;
    --cmar-primary-palette-main-blue: #3276bc;
    --cmar-primary-palette-main-blue-trans: #3276bc26;
    --cmar-primary-palette-dark-green: #358f3c;
    --cmar-primary-palette-light-green: #83b640;
    --cmar-primary-palette-black: #121212;
    --cmar-primary-palette-black-trans: #1212122e;
    --cmar-secundary-palette-orange: #FC9D2B;
    --cmar-secundary-palette-yellow: #fbd118;
    --cmar-secundary-palette-teal: #00a79d;
    --cmar-secundary-palette-grey: #9b8579;
    --cmar-secundary-palette-grey-trans: #9b857925;
}


/* ----- Global ----- */
html {
    font-size: 16px;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--cmar-primary-palette-black);
    background-color: var(--bs-white);
}

.search-form {
    border-bottom: none;
}

.btn-primary,
.btn-success {
    background-color: var(--cmar-primary-palette-dark-green);
    border-color: var(--cmar-primary-palette-dark-green);
    color: var(--bs-white) !important;
}
.btn-primary:hover,
.btn-success:hover {
    background-color: var(--cmar-primary-palette-light-blue);
    border-color: var(--cmar-primary-palette-light-blue);
}

.main a.btn-danger,
.main a.btn-danger:hover {
    color: white;
}


/* ----- Header ----- */
.masthead,
.account-masthead {
    background-image: none;
    background-color: var(--bs-white);
    color: var(--cmar-primary-palette-black);
}
.account-masthead .account ul li {
    border: none;
}
.account-masthead .account ul li a,
.masthead .main-navbar .account-masthead .account.avatar.authed ul li form button {
    color: var(--cmar-primary-palette-dark-blue);
}
.masthead .main-navbar ul li {
    white-space: nowrap;
}
.masthead .main-navbar ul li a {
    color: var(--cmar-primary-palette-black);
    padding: 0.4rem 0.9rem;
}
.masthead .main-navbar ul li:hover a, .masthead .main-navbar ul li:focus a, .masthead .main-navbar ul li.active a {
    border-radius: 0.3rem;
    background-color: var(--cmar-primary-palette-light-blue);
    color: var(--bs-white);
}
.masthead .main-navbar .account-masthead ul li a,
.masthead .main-navbar .account-masthead .account.avatar.authed ul li a {
    border-radius: 0.3rem;
    background-color: var(--cmar-primary-palette-light-green);
    font-size: 0.9rem;
    line-height: unset;
    min-width: 6rem;
    text-align: center;
}
.masthead .main-navbar .account-masthead .account.avatar.authed ul li a,
.masthead .main-navbar .account-masthead .account.avatar.authed ul li form {
    background-color: var(--bs-white);
    font-size: 0.9rem;
    line-height: unset;
    min-width: unset;
    text-align: center;
    height: 2.3rem;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem;
}
.masthead .main-navbar .account-masthead .account.avatar.authed ul li a:hover,
.masthead .main-navbar .account-masthead .account.avatar.authed ul li form button:hover {
    color: var(--cmar-primary-palette-light-blue);
    text-decoration: none;
}
.masthead .main-navbar .account-masthead .account.avatar.authed {
    border-left: 1px solid var(--cmar-primary-palette-dark-blue);
    padding-left: 0.7rem;
}
.masthead .main-navbar.show .account-masthead .account.avatar.authed {
    border-left: none;

}
.masthead .main-navbar .account-masthead .account.avatar.authed ul li {
    display: flex;
    align-items: center;
}

.masthead .navbar .logo img {
    height: 120px;
}
.navbar-light .navbar-toggler {
    background-color: var(--cmar-primary-palette-light-blue);
    border: none;
}


/* ----- Footer ----- */
.site-footer {
    background-image: none;
    background-color: var(--bs-white);
    color: var(--cmar-primary-palette-black);
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 1rem solid var(--cmar-primary-palette-light-blue);
}
.site-footer .row {
    align-items: center;
}
.site-footer a {
    color: var(--cmar-primary-palette-black);
}
.site-footer .logo img {
    max-height: 120px;
}
.site-footer .footer-contact {
    text-align: center;
    margin: 0 auto;
}
.site-footer .footer-contact p {
    margin-bottom: 0;
}
.site-footer .footer-contact a {
    color: var(--cmar-primary-palette-dark-blue);
    font-weight: 600;
}
.site-footer .footer-links a {
    color: var(--cmar-primary-palette-dark-blue);
}
.site-footer .footer-contact a:hover,
.site-footer .footer-links a:hover {
    color: var(--cmar-primary-palette-light-blue);
}

.site-footer .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-footer .footer-social a i {
    font-size: 2rem;
    color: var(--cmar-primary-palette-dark-blue);
    padding: 0 0.5rem;
}

@media (max-width: 991px) {
    .site-footer .logo img {
        margin-bottom: 1.5rem;
    }
}
@media (max-width:767px) {
    .site-footer .row {
        gap: 2rem;
    }
    .site-footer .col-md-3,
    .site-footer .col-md-2,
    .site-footer .col-md-4 {
        text-align: center;
    }
}


/* ----- Homepage ----- */
.homepage .hero {
    background-image: none;
    background-color: var(--cmar-primary-palette-light-blue);
    padding: 4rem 0;
    margin-bottom: 3rem;
}
.homepage .module-promotion {
    background-color: var(--cmar-primary-palette-light-blue);
    box-shadow: none;
    border: none;
    text-align: center;
}
h1.page-heading {
    font-weight: 900;
    font-size: 4rem;
}
.module-promotion p {
    color: var(--bs-white);
    font-size: 2rem;
}
.homepage .search-input {
    width: 80%;
    margin: 0 auto;
}
.homepage .search-form .search-input input.form-control {
    border-radius: 2rem;
    font-size: 1.05rem;
    padding: 20px 30px;
}
.homepage .search-form .search-input.search-giant button {
    right: 30px;
}
.homepage .search-form .search-input.search-giant button i {
    color: var(--cmar-primary-palette-dark-blue);
}
.homepage .module-feeds {
    background-image: none;
    background-color: var(--bs-white);
    padding-top: 0;
}
.homepage .module-feeds .featured-groups {
    background-color: var(--cmar-secundary-palette-grey-trans);
}
.homepage .module-feeds .featured-groups .container {
    height: 200px;
}
.homepage .module-feeds h2{
    text-align: center;
    font-size: 2rem;
    color: var(--cmar-primary-palette-dark-blue);
    margin-bottom: 1.5rem;
}
.homepage .module-feeds .container {
    margin-bottom: 3rem;
}

@media (max-width: 991px) {
    h1.page-heading {
        font-size: 3rem;
    }
    .module-promotion p {
        font-size: 1.5rem;
    }
}


/* ----- Dataset Card ----- */
.card.dataset-card {
    border: 3px solid var(--cmar-primary-palette-light-blue);
    border-radius: 0.7rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}
.card.dataset-card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.card.dataset-card .card-body {
    padding: 1.5rem;
}
.card.dataset-card .card-title {
    color: var(--cmar-primary-palette-dark-blue);
    font-size: calc(1.35625rem + 0.075vw);
}
.card.dataset-card .card-text {
    line-height: 1.3;
}
.card.dataset-card .btn,
.show-more .btn:hover {
    width: fit-content;
    background-color: var(--cmar-primary-palette-light-blue);
    border-color: var(--cmar-primary-palette-light-blue);
}
.card.dataset-card .btn:hover,
.show-more .btn {
    width: fit-content;
    background-color: var(--cmar-primary-palette-main-blue);
    border-color: var(--cmar-primary-palette-main-blue);
}
.show-more {
    margin-top: 2.5rem;
}
.card.card.dataset-card img {
    margin-bottom: 1.5rem;
    max-width: 170px;
}
.card.dataset-card p.count {
    margin-bottom: 0;
    font-size: 0.8rem;
}
.card.dataset-card p.count:last-of-type {
    margin-bottom: 1rem;
}
@media (min-width: 1200px) {
    .card.dataset-card .card-title {
        font-size: 1.5rem;
    }
}



/* ----- Pages ----- */
.main {
    background-image: none;
    background-color: var(--bs-white);
    padding: 0;
}
.main .toolbar {
    background-color: var(--cmar-primary-palette-light-blue);
    padding: 10px 5px 10px 25px;
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    margin-bottom: 0;
}
.main .toolbar .breadcrumb a {
    color: var(--bs-white);
    font-weight: normal;
}
.main .toolbar .breadcrumb .active a {
    font-weight: 600;
}
.main .toolbar .home span {
    display: inline;
    padding-left: 10px;
    font-weight: normal;
}
.main .toolbar .home span:hover {
    text-decoration: underline;
}
.main .row.wrapper {
    border: none;
    box-shadow: none;
    margin-top: 0;
}
.main .secondary {
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-right: 1px solid var(--cmar-primary-palette-black-trans);
}
.main .secondary .module-heading {
    background-color: var(--bs-white);
    color: var(--cmar-primary-palette-dark-blue);
    border: none;
    font-size: 1.2rem;
}
.main .secondary .module-content {
    padding-top: 0;
    padding-bottom: 1.5rem;
}
.main .primary {
    padding-bottom: 2rem;
    padding-right: 0;
    padding-left: 0;
}
.main .primary .module-content.page-header {
    background-color: var(--cmar-secundary-palette-grey-trans);
}
.main .primary .page_primary_action {
    float: right;
}
.main .primary .module-content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.main .primary .search-form .search-input-group {
    border: 1px solid var(--cmar-primary-palette-black-trans);
    border-radius: 0.5rem;
    padding: 0.25rem;
}
.main .primary .search-form input {
    border: none;
    box-shadow: none;
}
.main .primary .search-form button {
    border: none;
    box-shadow: none;
}
.main .primary .control-order-by .form-select {
    border: 1px solid var(--cmar-primary-palette-black-trans);
    box-shadow: none;
}
.main a {
    color: var(--cmar-primary-palette-main-blue);
    font-weight: 600;
}
.main a:hover {
    color: var(--cmar-primary-palette-light-blue);
}
.primary .table thead th {
    background-color: var(--cmar-primary-palette-main-blue);
    color: var(--bs-white);
    box-shadow: none;
}
.primary .table tbody {
    border-top: none;
}
.primary .table {
    --bs-table-hover-bg: var(--cmar-secundary-palette-grey-trans);
}
.table > :not(caption) > * > * {
    border-bottom-width: 0px;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: var(--cmar-primary-palette-main-blue-trans);
}

@media (max-width:767px) {
    .main .secondary {
        padding-top: 0;
    }
    .module-content {
        padding-top: 0;
    }
    .main .primary .page_primary_action {
        float: none;
    }
    .js body.filters-modal .secondary .filters .hide-filters i {
        font-size: 1.6rem;
    }
    .filters .module {
        margin-bottom: 1.2rem !important;
    }
    .main .secondary .module h2.module-heading {
        margin-top: 2rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .main .secondary .module .module-content {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 0;
    }
    h1.page-heading {
        margin-top: 2rem;
    }
    .secondary #package-info {
        margin-top: 2rem;
    }
}

.close.no-text.hide-filters i.fa.fa-times-circle {
    color: white;

}




/* ----- Datasets ----- */
section#organization-info {
    margin-bottom: 2rem;
}
/* Filters */
.filters .filter-heading {
    color: var(--cmar-primary-palette-black);
    margin-bottom: 12px;
}
.filters .module {
    margin-bottom: 0.8rem;
}
.filters .nav-simple > li {
    border-bottom: none;
    padding: 0 25px;
}
.filters li.nav-item .item-label {
    font-weight: normal;
    color: var(--cmar-primary-palette-black);
    font-size: 1rem;
}
.filters .nav-simple > li .item-count {
    color: var(--cmar-primary-palette-black);
    font-weight: normal;
}
span.hidden.separator {
    visibility: hidden;
}
.module-footer {
    border: none;
}

/* Filter list */
.search-form .filter-list .facet {
    color: var(--cmar-primary-palette-black);
}
.search-form .filter-list .pill {
    background-color: var(--cmar-secundary-palette-grey-trans);
    color: var(--cmar-primary-palette-black);
    padding: 4px 6px 3px 8px;
    border-radius: 0.25rem;
}

/* Dataset List */
.dataset-list .dataset-item a.badge {
    background-color: var(--cmar-primary-palette-light-blue);
    color: var(--bs-white);
    padding: 10px;
    font-weight: normal;
    font-size: 0.85rem;
}
.dataset-list .dataset-item .dataset-heading span.badge {
    background-color: var(--cmar-primary-palette-dark-blue) !important;
    font-size: 0.7rem;
    padding: 6px 6px 5px 6px;
    margin: 6px;
}
.dataset-list .dataset-item .dataset-heading i.fa.fa-lock {
    margin-right: 5px;
}
.dataset-list .dataset-heading {
    font-size: 1.2rem;
}
.module-narrow .nav-item > a:hover {
    background-color: var(--cmar-secundary-palette-grey-trans);
}
.module-narrow .nav-item.active > a {
    background-color: var(--cmar-primary-palette-light-blue);
}
.module-narrow .nav-item.active > a:before {
    border-left-color: var(--cmar-primary-palette-light-blue);
}
.module-narrow .nav-item.active > a span {
    color: var(--bs-white);
}


/* ----- Organizations & Groups ----- */
.primary .media-grid {
    background-color: var(--bs-white);
    background-image: none;
    border: none;
}
.row.organization-card-container,
.row.group-card-container {
    width: 100%;
}


/* ----- Dataset ----- */
.social .nav-simple > li  {
    border-bottom: none;
}
#dataset-resources {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
#dataset-resources h2{
    color: var(--cmar-primary-palette-dark-blue);
    margin-bottom: 1rem;
}
.resource-item .heading {
    color: var(--cmar-primary-palette-black);
}
.additional-info h3 {
    color: var(--cmar-primary-palette-dark-blue);
}
.additional-info h2 {
    color: var(--cmar-primary-palette-dark-blue);
    margin-bottom: 14px;
}
.additional-info td {
    width: 65%;
}
.additional-info th {
    width: 35%;
}
.additional-info .tags .tag-list {
    padding: 0;
    background-color: unset;
    border: none;
}
.additional-info .tags .tag-list a:hover {
    color: var(--bs-white);
    background-color: var(--cmar-primary-palette-main-blue);
    border-color: var(--cmar-primary-palette-main-blue);
}
.secondary #organization-info {
    margin-bottom: 0;
}
.secondary #organization-info .context-info .image img {
    margin-top: 2rem;
    width: 40%;
    height: unset;
}
.secondary #organization-info .context-info .read-more {
    margin-top: -1rem;
    margin-bottom: 0;
}
.secondary #package-info {
    margin-top: -2rem;
}
.primary .add-to-group button {
    margin-top: 1rem;
}

/* ----- Resource ----- */
.module-resource .actions {
    position: unset;
    float: unset;
}
@media (max-width:767px) {
    .main .module-resource {
        border-bottom: none;
        margin-bottom: 2rem;
    }
}
